html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #1A1A19;
    color: #fff;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/450/original/plants_background.jpg?1765254125);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    width: 60vw;
    padding: 5%;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    margin: auto;
    /* padding: 30px 40px; */
    background: rgba(162, 150, 150, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(162, 150, 150, 0.2);

}

form {
    /* display: flex;
    flex-direction: column; */
    /* width: 70%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 30px auto; */
}

.form-group {
    width: 100%;
    /* border: 1px solid white; */
}

.form-control {
    /* margin: 10px; */
    padding: 8px 12px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #556B2F;
    background-color: #373A36;
}

.btn-primary {
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 8px 12px;
    width: 60%;
    color: #373A36;
    background-color: #fff;
    border: none;
    margin-top: 20px;
    animation: ease-in-out 4ms;

}

/* .main-content {} */