<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=home" />
    <script src="https://kit.fontawesome.com/d10563301d.js" crossorigin="anonymous"></script>
    <script>
        (function (d) {
            var config = {
                kitId: "sse2qfx",
                scriptTimeout: 3000,
                async: true,
            },
                h = d.documentElement,
                t = setTimeout(function () {
                    h.className =
                        h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = "https://use.typekit.net/" + config.kitId + ".js";
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || (a && a != "complete" && a != "loaded")) return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config);
                } catch (e) { }
            };
            s.parentNode.insertBefore(tk, s);
        })(document);
    </script>
</head>

<body>
    <div id="login_section">
        <form id="loginForm" class="authForm" method="post">
            <h1>Enter your login details</h1>
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" />
            <input class="form-control" type="password" name="password" placeholder="Password" />
            <input class="btn-primary" type="submit" value="Login" />
        </form>
        <p id="loginMessage"></p>
        Don't have an account? <a href="{{ url_for('register') }}">Register here.</a>
    </div>

    <script src="{{ url_for('static', filename='js/api_connector.js') }}" defer></script>
    <script>
        document.getElementById("loginForm").addEventListener("submit", async (e) => {
            e.preventDefault();

            const data = {
                username: e.target.username.value,
                password: e.target.password.value,
            };

            const result = await loginUser(data);
            console.log(result)

            if (result.access_token) {
                document.getElementById("loginMessage").innerText = "Login successful";
                localStorage.setItem("currentUser", JSON.stringify(result));
                window.location.href = "/dashboard";
            } else {
                document.getElementById("loginMessage").innerText = result.error || "Login failed";
            }
        });
    </script>
</body>