<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=home" />
    <script src="https://kit.fontawesome.com/d10563301d.js" crossorigin="anonymous"></script>
    <script>
        (function (d) {
            var config = {
                kitId: "sse2qfx",
                scriptTimeout: 3000,
                async: true,
            },
                h = d.documentElement,
                t = setTimeout(function () {
                    h.className =
                        h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = "https://use.typekit.net/" + config.kitId + ".js";
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || (a && a != "complete" && a != "loaded")) return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config);
                } catch (e) { }
            };
            s.parentNode.insertBefore(tk, s);
        })(document);
    </script>
</head>

<body>
    <div id="login_section">
        <h1>Enter Registration details</h1>
        <form id="registerForm" method="post">
           
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" />
           
            <input class="form-control" type="text" name="email" placeholder="Email" />
           
            <input class="form-control" type="password" name="password" placeholder="Password" />
           
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" />
            <input class="btn-primary" type="submit" value="Sign Up" />
        </form>
        Already have an account? <a href="{{ url_for('login') }}">Login here.</a>
    </div>

    <script src="{{ url_for('static', filename='js/api_connector.js') }}" defer></script>
    <script>
        document.getElementById("registerForm").addEventListener("submit", async (e) => {
            e.preventDefault();

            const password = e.target.password.value;
            const confirm_password = e.target.confirm_password.value;

            if (password !== confirm_password) {
                alert("Passwords do not match!");
                return;
            }

            const data = {
                username: e.target.username.value,
                email: e.target.email.value,
                password: password
            };

            const result = await registerUser(data);
            console.log(result)

            if (result.id) {
                alert("Registration successful! Please login.");
                window.location.href = "/login";
            } else if (result.errors) {
                alert("Validation Error: " + JSON.stringify(result.errors));
            } else {
                alert(result.error || "Registration failed");
            }
        });
    </script>
</body>